li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
}
.round{
    border-radius: 100px ;
}
.btn1{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
}