*{
    box-sizing: border-box;
}
.mainContent{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 15px;
    margin: 10px;
}
.card{
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 5px 5px 1px lightgrey;
}
.card_img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.card_img img{
    z-index: 2;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.card_header{
    font-size: 14px;
    text-align: center;
}
.card_header .price{
    text-align: left;
    font-weight: bold;
}
#currency{
    font-weight: bolder;
    margin-left: 20px;
}
.btn{
    padding: 10px 80px;
    margin-bottom: 10px;
    background-color: lightgrey;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid lightgrey;
    background-color: white;
}
.descr{
    padding: 0px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width:510px){
    .mainContent{
        grid-template-columns: 400px;
    }
    .card_img{
        align-self: center;
    }
}